/* Carousel container */
.toza-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}


/* Track */
.toza-carousel-track {
    display: flex;
    align-items: flex-start;
    transition: all 0.3s ease;
    cursor: grab;
    user-select: none;
}

/* Vertical mode */
.toza-carousel-track.vertical {
    flex-direction: column;
}

/* Slides */
.toza-carousel-slide {
    flex-shrink: 0;
    /* transition: all 0.3s ease; */
    box-sizing: border-box;
}

/* Active slide */
.toza-carousel-slide-active {
    /* Add any active slide styles here */
}
